.menu {
    display: flex;
    visibility: visible;
    flex-direction: column;
    background-color: #0e0e0e;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.7s ease;
    z-index: 2;
    animation: scale-up-tr 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.menu__logo {
    filter: invert(100%);
    width: 15%;
}

.x {
    width: 80%;
    filter: invert(100%);
}

.menu__container {
    display: flex;
    visibility: visible;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    height: 6%;
    margin: 2% 8% 5% 4%;
}

.menu__menu-close {
    width: 5%;
}

.menu__landen {
    display: none;
    visibility: hidden;
}

.menu__media {
    display: none;
    visibility: hidden;
}

.menu__categories {
    display: flex;
    visibility: visible;
    width: 88%;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 8%;
    padding: 0% !important; 
       
}

.menu__cat--list li {
    border-bottom: 0.3px solid #a3a3a3;
    margin-bottom: 2%;
    
}

.menu__cat--list li:last-child {
    border: none;
}



.menu__cat--list a {
    display: block;
    visibility: visible;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Teko-Regular', sans-serif;
    text-transform: uppercase;
    font-size: 265%;
    line-height: normal;
    letter-spacing: normal;
    transition: 0.3s; 
    text-align: right;    
}

.menu__arrow {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(63deg) brightness(104%) contrast(103%);
    display: none;
    visibility: hidden;
    margin-right: 4%;
    margin-top: 1.6%;
    width: 2.5%;
    transform: rotate(270deg);
}

.menu__cat--list a>.menu__arrow {
    height: 20%;
}

a:hover .menu__arrow {
    display: flex;
    visibility: visible;
}

.menu__cat--list a:hover {
    color: #a3a3a3;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ##and
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  ##and
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 769px) {
    .menu {
        align-items: center;
    
    }

    .menu__logo {
        filter: invert(100%);
        width: 10%;
    }

    .x {
        width: 30%;
        filter: invert(100%);
        padding-left: 93%;
    }

    .menu__categories {
        margin-right: 7%;
    }

    .menu__container{
        margin-bottom: 8%;
    }

    .menu__landen,
    .menu__media {
        display: flex;
        visibility: visible;
        background-color: #0e0e0e;
        position: absolute;
    }

    .menu__cat--list a {
        font-size: 250%;
    }
  

    .menu__landen {
        margin-left: -86%;
        margin-top: 7%;
    }

    .menu__media {
        margin-left: -88%;
        margin-top: 37.5%;
    }

    .menu__landen--list li,
    .menu__landen--list a,
    .menu__media--list li,
    .menu__media--list a {
        text-decoration: none;
        color: #ffffff;
        font-family: Arial, sans-serif;
        text-transform: uppercase;
        font-size: 80%;
        display: flex;
        visibility: visible;
        align-items: center;
        font-weight: bold;
        line-height: 150%;
        letter-spacing: normal;
    }

    .menu__landen--list li {
        color: #939393;
    }

    .menu__arrow {
        width: 1.5%;
        margin-left: 85%;
        margin-bottom: -1%;
    }
    
    .menu__landen--list a >.menu__arrow,
    .menu__media--list a >.menu__arrow {
        
        width: 40%;
    }

    .menu__landen--list a:hover,
    .menu__media--list a:hover {
        font-family: Arial, sans-serif;
        font-weight: bold;
    }
}