.clients {
    display: flex;
    visibility: visible;
    flex-direction: column;
    align-items: center;
    background-color: #f3f6f6;
    width: 100%;
}

.clients__logos--desktop {
    display: none;
    visibility: hidden;
}

.clients__title {
    font-family: 'Teko-Light', sans-serif;
    text-transform: uppercase;
    color: #272727;
    font-size: 190%;
    margin: 7%;
    width: 60%;
    text-align: center;
}

.clients__text {
    font-family: Arial, sans-serif;
    color: #272727;
    font-size: 90%;
    text-align: center;
    line-height: 1.8rem;
    margin-bottom: 11%;
    padding-left: 4%;
    padding-right: 4%;
    overflow: hidden;    
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: -2%;
}

.clients__logos--phone {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
    justify-items: center;
    visibility: visible;
    width: 100%;
    margin-bottom: 12%;
    
}

.clients__logo {
    display: flex;
    visibility: visible;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: auto;
    padding: 20% 5% 20% 5%;
}

.clients__logo img {
    cursor: pointer;
    transform: none;
    transition: transform 0.2s ease-in-out;
}

.clients__logo img:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}


@media (min-width: 768px) {

    .clients__logos--phone {
        display: none;
        visibility: hidden;
    }

    .clients__logos--desktop {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: space-evenly;
        justify-items: center;
        visibility: visible;
        width: 80%;
        margin-bottom: 12%;

    }

    .clients__logo {
        width: 70%;
        padding: 1.3rem;
    }

    .clients__text {
        font-size: 150%;
         padding-left: 10%;
         padding-right: 10%;
         line-height: 1.9rem;
         text-align: center;
    }

    .clients__title {
        font-size: 300%;
    }
}

@media (min-width: 1025px) {
    .clients__text {
        font-size: 150%;
        padding-left: 15%;
        padding-right: 15%;
        line-height: 3rem;
        text-align: center;
    }

    .clients__title {
        font-size: 350%;
    }

    
}