.cards__card-w-img,
.cards__card-w-text,
.cards__cards-w-testemonial {
    display: flex;
    flex-direction: column;
    visibility: visible;
    width: 100%;
}

.cards__card-name {
    margin: 5% 5% 3% 6%;
    font-family: Arial;
    font-size: 75%;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #939393;
    width: 80%;
    text-align: justify;
}

.cards__card-title {
     margin: 1% 5% 12% 6%;
     font-family: "Teko-Regular", sans-serif;
     font-size: 175%;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     line-height: normal;
     letter-spacing: normal;
     word-spacing: normal;
     color: #272727;
     width: 80%;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 5;
     overflow: hidden;
     text-align: match-parent;
     
}

.cards__card-test--text {
    margin: 10% 5% 5% 6%;
    font-family: "Teko-Regular",
    sans-serif;
    font-size: 150%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    color: #272727;
    width: 80%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-align: center;
}

.cards__card-author {
    margin: 1% 5% 1% 6%;
    font-family: Arial;
    font-size: 75%;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272727;
    width: 80%;
    text-align: match-parent;
}

.works__cards--column>.cards__card-w-text {    
    text-align: match-parent;    
}

.cards__line {
    height: 1px;
    background-color: #dddddd;
    width: 87.9%;
    margin-left: 6%;   
}

.cards__button {
    visibility: hidden;
    display: none;
}

.cards__card-w-img {
    display: block;
    object-fit: cover;
    position: static;
    width: 88%;
    margin: auto;
    
}

@media (min-width: 768px) {

    .cards__card-w-img {
        width: 345px;
        height: auto;
    }
       
    .cards__card-w-testemonial {
        width: 100%;
        padding: 2%;
    }

    .cards__card-author {
        margin-left: 10%;
        margin-bottom: 10%;
    }

       .cards__card-name {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .cards__card-title {
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: 0.05rem;
        margin-bottom: 5%;
    }

    .cards__card-test--text {
        -webkit-line-clamp: 3;
        text-align: justify;
        width: 76%;
        margin-left: 10%;
        margin-bottom: 4%;
    }

    .cards__card-w-img>.cards__card-title {
        display: block;
        visibility: visible;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
    }

    

    .cards__button {
        display: flex;
        visibility: visible;
        align-items: center;
        background-color: transparent;
        color: #1a18f7;
        border: 1px solid transparent;
        font-family: Arial, sans-serif;
        text-transform: uppercase;
        font-size: 0.6rem;
        padding: 0;
        margin-left: 5%;
        margin-bottom: 10%;
        cursor: pointer;
        width: 45%;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.2s ease-in-out;
    }

    .cards__button:hover {
        border-bottom: 1px solid #1a18f7;
    }

    .cards__button-arrow-icon {
        filter: invert(14%) sepia(95%) saturate(4414%) hue-rotate(244deg) brightness(86%) contrast(130%);
        height: 0.5rem;
        margin-right: 4%;
        transition: margin-right 0.2s ease-in-out;
        transform: rotate(-90deg);
    }

}


