.works__cards--desktop {
    display: none;
    visibility: hidden;
}

.works {
  display: flex;
  visibility: visible;
  flex-direction: column;
  width: 100%;
}

.works__cards--row,
.works__cards-row--reverse {
  display: flex;
  visibility: visible;
  flex-direction: column;
  width: 100%;
}

.works__cards--column {
  display: flex;
  visibility: visible;
  flex-direction: column;
  width: 100%;
}

.works__cards--desktop {
  display: none;
  visibility: hidden;
}


@media (min-width: 768px) {

  .works {
    padding: 0% 2% 2% 0%;
    position: relative;
    bottom: 1rem;
    }

  .works__cards--4 {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
    margin-bottom: 5%;
  }

    .works__cards--row {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding-right: 5%;
    }


    .works__cards--column {
      flex-direction: column;
      justify-content: center;
      width: 55%;
      padding-bottom: 10%;
    }

    .works__cards--row-reverse {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .works__cards--desktop {
      display: flex;
      visibility: visible;
      flex-direction: column;
      width: 50%;
    }

    .works__cards--6 {
      display: grid;
      grid-template-columns: 45% 45%;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    
} 
