.footer {
    display: flex;
    background-color: #0e0e0e;
    visibility: visible;
    flex-direction: column;
    width: 100%;
}

.footer img {
    filter: invert(100%);
    width: 40%;
}

.footer__logo {
    display: none;
    visibility: hidden;
}

.footer__button {
    display: none;
    visibility: hidden;
}


.footer__list1, .footer__list2 {
    padding-left: 6%;
    padding-top: 15%;
}

.footer__menu {
    display: flex;
    visibility: visible;
    justify-content: space-between;
}

.footer__media--item {
    margin-right: 6%;
    margin-bottom: 50%;
}

.footer__list--item {
     font-family: "Teko-Regular";
     text-transform: uppercase;
     font-size: 180%;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     line-height: 1;
     letter-spacing: 1%;
     border-bottom: 10%;
     margin-bottom: 27%;

}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

.footer__agency {
    border-top: 0.1px solid #808080;
    margin: 0 6% 6% 6%;
}

.footer__agency p {
    font-family: Arial;
    font-size: 75%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 13px;
    letter-spacing: normal;
    color: #808080;
}

.footer__agency-info {
    padding-top: 8%;
}

.footer__agency-copyright {
    margin: 10% 0 10% 0;
}




@media (min-width: 768px) {
    
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        padding: 0;
        height: 300px;   
        
    }
    
    .footer__directory {
        width: 90%;        
    }

    .footer__button {
        display: flex;
        visibility: visible;
        justify-content: center;
        align-items: center;
        width: 10%;
        background-color: #ffffff;
    }

    .footer__button--top {
        display: flex;
        visibility: visible;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 38%;
        font-family: 'Teko-Regular',
        sans-serif;
        text-decoration: none;
        font-size: 1.5rem;
        color: #1a18f7;
        background-color: transparent;
        border: none;
        border-radius: none;
        cursor: pointer;
    }

    .footer__button--top img {
        filter: invert(14%) sepia(95%) saturate(4414%) hue-rotate(244deg) brightness(86%) contrast(130%);
        height: 2rem;
    }

    .footer__menu {
        align-items: center;
        justify-content: space-evenly;
        justify-items: end;
        height: 70%;
    }

    .footer__list1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 55%;
        padding: 0%;
        height: 20px;
        margin: 0%;
    }


    .footer__list2 {
        display: flex;
        flex-direction: row;
        justify-items: center;
        width: 10%;
        padding: 0%;
        height: 20px;
        margin: 0;
    }

    .footer__list--item {
        font-size: 110%;
        margin-right: 6%;
    }

    .footer__media--item img {
        width: 50%;   
        margin: 0 !important;     
    }

    .footer__logo {
        display: flex;
        visibility: visible;
        justify-content: center;
        width: 20%;
        padding-bottom: 1%;
    }

    .footer__agency {
        margin: 0;
        height: 30%;
        border-top: none;
        font-size: 85%;
    }

    .footer__agency-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 10px;
        padding: 0;
    }

    .footer__agency-info p {
        margin-left: 4%;
    }

    .footer__agency-copyright {
        margin: 0% 0% 180% 82% ;
        padding-bottom: 15%;
        height: 9px;
    }

    .footer__agency-copyright p {
        height: 9px !important;
    }

} 